@model Programador

<div class="card mt-0">
    <div class="card-header">
        <div class="col">
            <h4 class="text-center">Registro realizado com sucesso</h4>
            <br />
            <h5 class="text-center">@DateTime.Now.ToLongTimeString()</h5>
            <hr />
            <div class="row">
                <div class="col-12">
                    <h6>Olá @Model.Nome</h6>
                    <br />
                    <h5 class="text-center">Obrigado por se registrar</h5>
                    <br />
                    <p>enviaremos os detalhes sobre as datas de treinamento para @Model.Email em breve</p>
                    <p>Não hesite em contactar-nos para qualquer dúvida em relinton.pinheiro.infouniron@gmail.com</p>
                    <h6>Esperamos vê-lo em breve</h6>
                    <br />
                    <hr />
                    <h5 class="text-center bg-secondary">bem-vindo ao clube</h5>
                    <h6>Cumprimentos</h6>
                    <h6>Consultoria dev Atendimento ao Cliente</h6>
                </div>
            </div>
        </div>
    </div>
</div>
